* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


.page-wrapper {
    width: 1200px;
    margin: 0 auto;


}

.header {
    display: flex;
    ;
    justify-content: flex-end;
    color: #666666;
    height: 55px;



}

.nav-group-logo {
    
    font-style: italic;
    padding: 2px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    background: -webkit-linear-gradient(0deg, rgba(0,192,253,1) 0%, rgba(231,15,170,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-group-page-items {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    width: 610px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 60px;

}

.nav-group-page-items a {
    padding: 4px 8px;

}

.nav-group-page-items a:hover {
    background-color: lightgray;

}

.nav-grupo-social-icons {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-techStack{
    height: calc(100vh-55px);
}

.section-techStack-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  
    padding-top: 100px ;
    padding-bottom: 100px;
   
}
.titulo-tech{
    font-size: 42px;
    color: #42446E ;
}
.paragrafo-tech{
    font-size: 20px;
    font-weight: normal;
color: #666666;
}

.icons-tech{
    margin-top: auto;
    display: grid;
    
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 16px;
   
}
.icons-tech img{
    height: 110px;
    width: 110px;
}
